.signup-container {
  padding-top: 40px;
  text-align: center;
}

.signup-header {
  font-size: 21pt;
  text-decoration: none !important;
  color: gray !important;
}

.signup form span.help-block {
  font-size: 14px;
  padding-bottom: 10px;
  color: #999;
}

@media (max-width: 1023px) {
  img {
    max-height: 110px;
  }
}

@media (min-width: 1024px) {
  img {
    max-height: 200px;
  }
}

@media all and (min-width: 480px) {
  .signup {
    padding: 20px 0;
  }

  .signup form {
    margin: 0 auto;
    max-width: 320px;
  }
}
