@media all and (min-width: 480px) {
  .signup {
    padding: 20px 0;
  }

  .signup form {
    margin: 0 auto;
    max-width: 320px;
  }
}

.signup form span.help-block {
  font-size: 14px;
  padding-bottom: 10px;
  color: #999;
}
