.details-container {
  height: 10px;
  padding-top: 10px;
}

.details-form {
  display: grid;
  border: 2px solid;
  grid-gap: 5px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
  /* height: 380px; */
  width: 60%;
  grid-template-columns: 1fr 3fr 100px 1fr;
  grid-template-rows: 30px 30px 400px 35px;
  grid-template-areas:
    'block block block block'
    'header header header list'
    'text text text list'
    'delete cancel submit list';
}

.details-block {
  grid-area: block;
  text-align: left;
  padding-left: 10px;
  font-size: 17pt;
}

.details-header {
  grid-area: header;
  text-align: left;
  padding-left: 10px;
  background-color: cadetblue;
  color: red;
}

.details-text {
  grid-area: text;
  text-align: left;
  padding-left: 10px;
  background-color: green;
  color: blue;
}

.details-delete {
  grid-area: delete;
  text-align: left;
  padding-left: 10px;
}

.details-cancel {
  grid-area: cancel;
  text-align: right;
  padding-right: 10px;
}

.details-submit {
  grid-area: submit;
  text-align: right;
  padding-right: 10px;
}

.details-list {
  grid-area: list;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

.details-list-item {
  border: solid 1px;
  text-align: left;
  height: 50px;
  padding-top: 10px;
  padding-left: 10px;
}
