@media (max-width: 410px) {
  .details-container .btn {
    font-size: 0.9rem;
  }

  .details-form {
    grid-template-areas:
      'block . . create'
      'list list list list'
      'card card card card'
      'delete cancel submit submit';
  }

  .details-create {
    justify-self: end;
    margin-right: 12px;
    margin-top: 2px;
  }

  .details-list {
    max-height: 168px;
    overflow: scroll;
  }

  .details-card-read-header {
    margin-right: 12px;
  }

  .details-card-read-text {
    overflow: scroll;
    margin-right: 12px;

    /* Add shadows to show scrollable content */
    background: linear-gradient(white 0%, rgba(255, 255, 255, 0)),
      linear-gradient(rgba(255, 255, 255, 0), white 0%) 0 100%,
      radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)),
      radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0)) 0 100%;

    background-repeat: no-repeat;
    background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;

    /* Opera doesn't support this in the shorthand */
    background-attachment: local, local, scroll, scroll;
  }

  .details-create-cancel-buttons {
    margin-right: 12px;
  }

  .details-submit {
    margin-right: 12px;
  }
}

@media (min-width: 411px) {
  .details-form {
    grid-template-areas:
      'block . . create'
      'card card card list'
      'delete cancel submit list';
  }

  .details-create {
    margin-left: 12px;
    padding-top: 10px;
    padding-right: 10px;
  }

  .details-list {
    padding-top: 65px;
  }
}

/* Common CSS (applicable to any viewport) */

.details-form {
  display: grid;
  border: 2px solid;
  gap: 5px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  grid-template-rows: min-content min-content min-content min-content;
  grid-template-columns: minmax(0px, 1fr) minmax(0px, 1fr) minmax(150px, 3fr) minmax(100px, 1fr);
}

.details-block {
  grid-area: block;
  grid-column-end: create;
  padding-left: 10px;
  text-align: left;
  font-size: 17pt;
}

.details-container {
  height: 10px;
  padding-top: 10px;
}

.details-card-read-text {
  min-height: 100px;
  max-height: 250px;
}

.details-card-write-text {
  min-height: 100px;
  max-height: 250px;
}

.details-create a:hover {
  color: black;
}

.details-card {
  grid-area: card;
}

.details-card-read-header {
  border-radius: 4px;
  border: solid 1px;
  margin-top: 10px;
  margin-left: 6px;
  padding-left: 12px;
  text-align: left;
  height: 39px;
  line-height: 37px;
}

.details-card-read-text {
  border-radius: 4px;
  border: solid 1px;
  margin-left: 6px;
  margin-top: 16px;
  padding-top: 5px;
  padding-left: 12px;
  text-align: left;
}

.details-card-container {
  margin-left: 6px;
  padding-bottom: 7px;
}
.details-card-write {
  padding-top: 10px;
  padding-left: 6px;
}

.details-list {
  grid-area: list;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}

.details-create-cancel-buttons {
  grid-area: submit;
  justify-self: end;
}
.details-create {
  grid-area: create;
}

.details-delete {
  grid-area: delete;
  padding-left: 12px;
  text-align: left;
}

.details-cancel {
  text-align: left;
}

.details-submit {
  grid-area: submit;
  text-align: right;
}

.details-list-item {
  border: solid 1px;
  padding-top: 10px;
  padding-left: 10px;
}

.details-new-list-item {
  height: 50px;
}
