.details-container {
  height: 10px;
  padding-top: 10px;
}

.details-form {
  display: grid;
  border: 2px solid;
  gap: 5px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  grid-template-rows: 1fr 1fr 8fr 1fr;
  grid-template-columns: 1fr 3fr 1fr 1fr;
  grid-template-areas:
    'block create create create'
    'card card card list'
    'card card card list'
    'delete cancel submit list';
}

.details-block {
  grid-area: block;
  grid-column-end: create;
  padding-left: 10px;
  text-align: left;
  font-size: 17pt;
}

.details-create {
  grid-area: create;
  text-align: right;
  padding-top: 10px;
  padding-right: 10px;
}

.details-create a:hover {
  color: black;
}

.details-card {
  grid-area: card;
}

.details-card-container {
  margin-left: 6px;
  padding-bottom: 7px;
}
.details-card-write {
  padding-top: 10px;
  padding-left: 6px;
}

.details-card-read-header {
  grid-area: header;
  border-radius: 4px;
  border: solid 1px;
  margin-top: 10px;
  margin-left: 6px;
  padding-left: 12px;
  text-align: left;
  height: 39px;
  line-height: 37px;
}

.details-card-read-text {
  grid-area: text;
  border-radius: 4px;
  height: 373px;
  border: solid 1px;
  margin-left: 6px;
  margin-top: 16px;
  padding-top: 5px;
  padding-left: 12px;
  text-align: left;
}

.details-delete {
  grid-area: delete;
  padding-left: 10px;
  text-align: left;
}

.details-cancel {
  grid-area: cancel;
  padding-right: 10px;
  text-align: right;
}

.details-submit {
  grid-area: submit;
  padding-right: 10px;
  text-align: right;
}

.details-list {
  grid-area: list;
  padding-top: 65px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
}

.details-list-item {
  border: solid 1px;
  padding-top: 10px;
  padding-left: 10px;
  text-align: left;
}

.details-new-list-item {
  height: 50px;
}
