.navbar-custom {
  background-color: black !important;
  height: 50px;
}

.header {
  font-size: 14pt;
  text-decoration: none !important;
  color: gray !important;
}

.header:hover {
  color: white !important;
}

.link {
  font-size: 12pt;
  text-decoration: none !important;
  color: gray !important;
}

.link:hover {
  color: white !important;
}
