.navbar-custom {
  background-color: black !important;
}

.navbar-header {
  font-size: 14pt;
  text-decoration: none !important;
}

.navbar-dropdown {
  color: gray;
  text-decoration: none !important;
}

.navbar-dropdown-arrow {
  color: white;
}

.navbar-dropdown-submenu:hover {
  color: black;
  text-decoration: none !important;
}

.navbar-link {
  font-size: 12pt;
  text-decoration: none !important;
}

@media (max-width: 1023px) {
  .canvas-view-button {
    display: none;
  }
}

@media (max-width: 367px) {
  .navbar-header {
    font-size: 12pt;
  }
}

@media (max-width: 337px) {
  .navbar-header {
    font-size: 10pt;
  }
}
