.navbar-custom {
  background-color: black !important;
}

.navbar-header {
  font-size: 14pt;
  text-decoration: none !important;
}

.navbar-link {
  font-size: 12pt;
  text-decoration: none !important;
}

@media (max-width: 1023px) {
  .canvas-view-button {
    display: none;
  }
}
