{
  "extends": ["prettier/react"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "node": true
  },
  "plugins": ["react"],
  "rules": {
    "prettier/prettier": "error"
  }
}
