.editor-container {
  padding-top: 15px;
}

.itemContainer {
  width: 1000px;
  display: inline-flex;
  justify-content: space-between;
}

.leftArrow {
  margin-left: 20px;
}

.rightArrow {
  margin-right: 20px;
}
