.editor-container {
  padding-top: 40px;
}

.editor-itemContainer {
  width: 1000px;
  display: inline-flex;
  justify-content: space-between;
}

.editor-leftArrow {
  margin-left: 20px;
}

.editor-rightArrow {
  margin-right: 20px;
}

.editor-item-header {
  font-weight: bold;
}
