.home-logo {
  padding-top: 40px;
  text-align: center;
}

.home-header {
  font-size: 21pt;
  text-decoration: none !important;
  color: gray !important;
}

.home-text {
  font-size: 18pt;
  padding-top: 40px;
  text-decoration: none !important;
  color: gray !important;
}

@media (max-width: 1023px) {
  img {
    max-height: 110px;
  }
}

@media (min-width: 1024px) {
  img {
    max-height: 200px;
  }
}
