a > div {
  color: black;
}

.canvas-blocks {
  display: inline-block;
  margin-left: 8px;
  width: 96%;
  font-family: Arial, Helvetica, sans-serif;
}

.canvas-block-container {
  padding-top: 10px;
}

.canvas-blocks-container {
  border-bottom: 1px solid;
  min-height: 70px;
  background-color: #c6c6c6;
}

.canvas-block-header {
  font-size: 12pt;
  font-weight: bold;
}

.canvas-block-description {
  font-style: italic;
  font-size: 10pt;
  padding-bottom: 5px;
}

.canvas-block-item {
  font-size: 10pt;
  padding-top: 10px;
  padding-bottom: 10px;
}

.canvas-item-header {
  font-weight: bold;
}

.canvas-item-card {
  width: '98%';
  max-width: 1024px;
}

.canvas-card-container {
  padding-right: 8px;
  padding-bottom: 4px;
}
