.block {
  border: solid 2px;
  background-color: #e4e4e4;
  color: black;
  text-align: left;
}

.block:hover {
  background-color: gray;
  cursor: pointer;
}

.key-partners {
  grid-area: key-partners;
  border-color: #95b82f;
}

.key-activities {
  grid-area: key-activities;
  border-color: #9b9b9b;
}

.key-resources {
  grid-area: key-resources;
  border-color: #8c6584;
}

.value-propositions {
  grid-area: value-propositions;
  border-color: #95b82f;
}

.customer-relationships {
  grid-area: customer-relationships;
  border-color: #8c6584;
}

.channels {
  grid-area: channels;
  border-color: #9b9b9b;
}

.customer-segments {
  grid-area: customer-segments;
  border-color: #95b82f;
}

.cost-structures {
  grid-area: cost-structures;
  border-color: #9b9b9b;
}

.revenue-streams {
  grid-area: revenue-streams;
  border-color: #8c6584;
}

.horizontal-view {
  display: grid;
  grid-gap: 10px;
  padding-top: 10px;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  height: 1400px;
  grid-template-rows: 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr;
  grid-template-areas:
    'key-partners'
    'key-activities'
    'customer-relationships'
    'value-propositions'
    'channels'
    'key-resources'
    'customer-segments'
    'cost-structures'
    'revenue-streams';
}

@media (max-width: 1023px) {
  .canvas {
    display: none;
  }

  .canvas-horizontal-view {
    display: grid;
    grid-gap: 10px;
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    height: 1400px;
    grid-template-rows: 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr;
    grid-template-areas:
      'key-partners'
      'key-activities'
      'customer-relationships'
      'value-propositions'
      'channels'
      'key-resources'
      'customer-segments'
      'cost-structures'
      'revenue-streams';
  }
}

@media (min-width: 1024px) {
  .horizontal {
    display: none;
  }

  .canvas-view {
    display: grid;
    grid-gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    height: 750px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-areas:
      'key-partners key-activities value-propositions customer-relationships customer-segments'
      'key-partners key-resources value-propositions channels customer-segments'
      'cost-structures cost-structures cost-structures revenue-streams revenue-streams';
  }
}
