.canvas {
  display: grid;
  grid-gap: 10px;
  padding-top: 10px;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  height: 750px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-areas:
    'key-partners key-activities value-propositions customer-relationships customer-segments'
    'key-partners key-resources value-propositions channels customer-segments'
    'cost-structures cost-structures cost-structures revenue-streams revenue-streams';
}

.horizontal {
  display: grid;
  grid-gap: 10px;
  padding-top: 10px;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  height: 1400px;
  grid-template-rows: 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr;
  grid-template-areas:
    'key-partners'
    'key-activities'
    'customer-relationships'
    'value-propositions'
    'channels'
    'key-resources'
    'customer-segments'
    'cost-structures'
    'revenue-streams';
}

.block {
  border: solid 1px;
  color: black;
  text-align: left;
}

.block:hover {
  background-color: gray;
  cursor: pointer;
}

.key-partners {
  grid-area: key-partners;
  background-color: #95b82f;
}

.key-activities {
  grid-area: key-activities;
  background-color: #dcd9d2;
}

.key-resources {
  grid-area: key-resources;
  background-color: #8c6584;
}

.value-propositions {
  grid-area: value-propositions;
  background-color: #95b82f;
}

.customer-relationships {
  grid-area: customer-relationships;
  background-color: #8c6584;
}

.channels {
  grid-area: channels;
  background-color: #dcd9d2;
}

.customer-segments {
  grid-area: customer-segments;
  background-color: #95b82f;
}

.cost-structures {
  grid-area: cost-structures;
  background-color: #dcd9d2;
}

.revenue-streams {
  grid-area: revenue-streams;
  background-color: #8c6584;
}
