.login-container {
  padding-top: 40px;
}

.login-header {
  font-size: 21pt;
  text-decoration: none !important;
  color: gray !important;
}

@media all and (min-width: 480px) {
  .login {
    padding: 20px 0;
  }

  .login form {
    margin: 0 auto;
    max-width: 320px;
  }
}
