.View {
  padding-top: 5px;
  position: relative;
  float: right;
}

.App {
  text-align: center;
  padding: 15px 15px 0px 15px;
  width: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App .navbar-brand {
  font-weight: bold;
}

select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
}

input[type='file'] {
  width: 100%;
}
