.View {
  padding-top: 5px;
  position: relative;
  float: right;
}

.CanvasId {
  padding-top: 5px;
  position: relative;
  float: left;
}

.App {
  text-align: center;
  padding: 15px 15px 0px 15px;
  width: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App .navbar-brand {
  font-weight: bold;
}

select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
}

input[type='file'] {
  width: 100%;
}

a {
  text-decoration: none;
  color: gray;
}

a:hover {
  color: white;
}

.background-container {
  position: relative;
  height: 100%;
  width: 100%;
}

@media (min-width: 1024px) {
  .background-image {
    position: fixed;
    height: 90%;
    width: 80%;
    background-image: url('images/q-logo.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 2100px 2100px;
    opacity: 0.15;
    z-index: -1;
  }
}

@media (max-width: 1023px) {
  .background-image {
    position: fixed;
    height: 90%;
    width: 80%;
    background-image: url('images/q-logo.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 1000px 1000px;
    opacity: 0.15;
    z-index: -1;
  }
}
